<footer class="footer footer_thanks">
    <div class="container">
        <p>Copyright ©  2013 - 2014 本站点由 &ensp;<a href="http://www.lrj.name" title="ilovers">陆仁贾</a> ( <i class="fa fa-pencil"></i> ) &ensp;<a href="http://weibo.com/maojiecao" title="weibo">@濠梁钓鱼</a> ( <i class="fa fa-weibo"></i> ) &ensp;<a href="http://plus.google.com/+antsarks" title="google+">+antsarks</a> ( <i class="fa fa-google-plus"></i> ) 设计并实现 </p>
        <p>本站点的所有代码使用 <a href="http://opensource.org/licenses/mit-license.html">MIT 许可证</a> ， 文档使用 <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0 许可证</a> 发布</p>
        <p>灰常感谢开源世界提供的众多优秀项目： <a href="http://nodejs.org/">Node</a> 、 <a href="http://expressjs.com/">Express</a> 、<a href="http://www.mongodb.org/">MongoDB</a> 、<a href="http://jquery.com/"> jQuery</a> 、 <a href="http://getbootstrap.com/">Bootstrap</a> 、 <a href="http://fontawesome.io/">Font Awesome</a> <a href="#">...</a></p>
        <p><a href="https://github.com/antark/doc4doc">GitHub 项目</a> &sdot; <a href="#">问题</a> &sdot; <a href="#">发布版本 0.1</a></p>
    </div>
</footer>
<ul class="nav_page">
    <li><a href="/"  title="回到首页"><i class="fa fa-home fa-fw"></i></a></li>
    <li><a title="刷新页面" onclick="window.location.reload(); return false;"><i class="fa fa-refresh fa-fw"></i></a></li>
    <li><a href="#" title="回到顶部" onclick="window.scrollTo(0,0); return false;"><i class="fa fa-chevron-up fa-fw"></i></a></li>
    <li><a href="/login" title="登陆"><i class="fa fa-envelope-o fa-fw"></i></a></li>
    <li><a href="/profile" title="个人主页"><i class="fa fa-user fa-fw"></i></a></li>
    <li><a title="面板按钮" id="nav_page_icon" class=""><i class="fa fa-plus-square fa-fw"></i></a></li>
</ul>
