<footer class="footer footer_thanks">
    <div class="container">
        <p>Copyright ©  2013 - 2023 本站点由 &ensp;<a href="http://www.lrj.name" title="ilovers">文琼</a> ( <i class="fa fa-pencil"></i> ) &ensp;设计并实现 </p>
        <p>
		<a href="https://github.com/antark/doc4doc">GitHub 项目</a>
		<% if(typeof pv != 'undefined'){  %>
			&sdot; <small>当前站点浏览过客有 <%- pv %> 位</p>
		<% } %>	
	</p>
    </div>
</footer>
<ul class="nav_page">
    <li><a href="/"  title="回到首页"><i class="fa fa-home fa-fw"></i></a></li>
    <li><a title="刷新页面" onclick="window.location.reload(); return false;"><i class="fa fa-refresh fa-fw"></i></a></li>
    <li><a href="#" title="回到顶部" onclick="window.scrollTo(0,0); return false;"><i class="fa fa-chevron-up fa-fw"></i></a></li>
    <li><a href="/login" title="登陆"><i class="fa fa-envelope-o fa-fw"></i></a></li>
    <li><a href="/profile" title="个人主页"><i class="fa fa-user fa-fw"></i></a></li>
    <li><a title="面板按钮" id="nav_page_icon" class=""><i class="fa fa-plus-square fa-fw"></i></a></li>
</ul>
