<!-- 导航 navbar -->
<header>
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs nav_header">
                <li class="first"><% if(typeof user !== 'undefined' && user != null) { %> <a href="/profile"><i class="fa fa-smile-o fa-fw"></i>+<%= user.name %></a> <%  } else { %><a href="/login"><i class="fa fa-smile-o fa-fw"></i>+you</a><% }%></li>
                <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
                
                <!--  // 删除项目页、标签页、图片页
                <li><a href="/projects"><i class="fa fa-anchor fa-fw"></i>项目</a></li>
                <li><a href="/tags"><i class="fa fa-tags fa-fw"></i>标签</a></li>
                <li><a href="/gallery-wall"><i class="fa fa-picture-o fa-fw"></i>图片墙</a></li> 
                -->

                <li><a href="/post-edit"><i class="fa fa-pencil fa-fw"></i>写作</a></li>
                <li class="header_panel" style=""><a href="#" class="nav_header_panel">&ensp;</a>
                    <div class="popover bottom">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <ul class="metro_card">
                                <li><a href="/profile"><i class="fa fa-user fa-2x"></i><br>Profile</a></li>
                                <li><a href="/member"><i class="fa fa-users fa-2x"></i><br>成员</a></li>
                                <li><a href="/login"><i class="fa fa-key fa-2x"></i><br>登录</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out fa-2x"></i><br>退出</a></li>
                                <li><a href="/upload"><i class="fa fa-cloud-upload fa-2x"></i><br>上传</a></li>
                                <li><a href="/download"><i class="fa fa-cloud-download fa-2x"></i><br>下载</a></li>
                                <li><a href="/sign-up"><i class="fa fa-envelope-o fa-2x"></i><br>注册</a></li>
                                <li><a href="/about"><i class="fa fa-info fa-2x"></i><br>关于</a></li>
                                <li><a href="/site-map"><i class="fa fa-sitemap fa-2x"></i><br>地图</a></li>
                            </ul>
                        </div>
                      </div>
                </li>
            </ul>
        </div><!-- row -->
    </div><!-- container -->
</header>