<div class="col-md-3 shopping">
      <div>Ads：<small>给自己一把舒服的椅子。(Amazon)</small></div>
      <a href="https://www.amazon.com/HousePrint-Executive-Reclining-Ergonomic-Armrests/dp/B0CPPG8YYJ/ref=sr_1_1">
        <img src="https://m.media-amazon.com/images/I/51S6G5BXTBL._AC_SX679_.jpg" />
      </a>
      
      <a href="https://www.amazon.com/Armrests-Ergonomic-S-Shaped-Backrest-Executive/dp/B0CPP632FQ/ref=sr_1_2">
        <img src="https://m.media-amazon.com/images/I/61P4L3Qc5mL.__AC_SX300_SY300_QL70_FMwebp_.jpg">
      </a>

      <a href="https://www.amazon.com/Armrests-Ergonomic-S-Shaped-Backrest-Executive/dp/B0CPP7PHB2/ref=sr_1_2">
        <img src="https://m.media-amazon.com/images/I/613G+eyXAeL._AC_SX679_.jpg">
      </a>

      <a href="https://www.amazon.com/HousePrint-Flip-up-Padding-Comfort-Ergonomic/dp/B0CMQ43XCP/ref=sr_1_5">
        <img src="https://m.media-amazon.com/images/I/71yxNaPezKL._AC_SX679_.jpg" />
      </a>

      <a href="https://www.amazon.com/HousePrint-Clear-Chair-Acrylic-Kitchen/dp/B0CPPBXC8N/ref=sr_1_3">
        <img src="https://m.media-amazon.com/images/I/61Dzui3Ds8L._AC_SX679_.jpg" />
      </a>
</div>
