<div class="col-md-3 shopping">
      <div>Ads：<small>给自己一把舒服的椅子。(Amazon)</small></div>
      <a href="https://www.amazon.com/HousePrint-Executive-Reclining-Ergonomic-Armrests/dp/B0CPPG8YYJ/ref=sr_1_1">
        <img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/26905e40-652a-4e69-aabf-5fd78484ce79.__CR206,50,552,605_PT0_SX166_V1___.jpg" />
      </a>

      <a href="https://www.amazon.com/dp/B0CPNY3643/ref=emc_bcc_2_i">
        <img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/a5ba2167-d2fe-4434-8692-ead7277d9d21.__CR254,91,506,555_PT0_SX166_V1___.jpg" />
      </a>
      
      <a href="https://www.amazon.com/Armrests-Ergonomic-S-Shaped-Backrest-Executive/dp/B0CPP632FQ/ref=sr_1_2">
        <img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/ec6ddd58-1595-49d0-8528-499fa7213875.__CR149,20,368,404_PT0_SX166_V1___.jpg">
      </a>

      <a href="https://www.amazon.com/Armrests-Ergonomic-S-Shaped-Backrest-Executive/dp/B0CPP7PHB2/ref=sr_1_2">
        <img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/1cba8133-24d7-4f7a-bd8a-fe73ebe3b443.__CR177,79,312,342_PT0_SX166_V1___.jpg">
      </a>

      <a href="https://www.amazon.com/dp/B0CMQ89P7N/ref=emc_bcc_2_i">
        <img src="https://m.media-amazon.com/images/I/71gWA+j7WrL._AC_SX679_.jpg" />
      </a>

      <a href="https://www.amazon.com/HousePrint-Flip-up-Padding-Comfort-Ergonomic/dp/B0CMQ43XCP/ref=sr_1_5">
        <img src="https://m.media-amazon.com/images/I/71yxNaPezKL._AC_SX679_.jpg" />
      </a>

      <a href="https://www.amazon.com/HousePrint-Clear-Chair-Acrylic-Kitchen/dp/B0CPPBXC8N/ref=sr_1_3">
        <img src="https://m.media-amazon.com/images/I/61Dzui3Ds8L._AC_SX679_.jpg" />
      </a>
</div>
