<!-- 青瓷欣赏 aside -->
<script>
    var img_xinshang = true;
</script>
<div class="col-md-3 col-md-offset-half img_xinshang gallery_modal">
    <div class="nav_sitemap">
    </div>
    <div><button type="button" class="btn btn-link" style="width:100%;padding: 20px 0;">More...</button></div>
</div>
<!-- Modal -->
<div class="modal fade" id="img_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="关闭"><i class="fa fa-times"></i></button>
        <h3 class="modal-title" id="img_label">青瓷名称 ： </h3>
      </div>
      <div class="modal-body" id="img_body"></div>
      <div class="modal-controls" id="img_controls">
          <a class = "btn btn-link img_left"><i class="fa fa-arrow-left"></i></a>
          <a class = "btn btn-link img_right"><i class="fa fa-arrow-right"></i></a>
          <a class = "btn btn-link img_bigger"><i class="fa fa-search-plus"></i></a>
          <a class = "btn btn-link img_smaller"><i class="fa fa-search-minus"></i></a>
      </div>
      <div class="modal-footer" id="img_footer">青瓷介绍： 暂缺</div>
    </div>
  </div>
</div>
